# Python Pandas Basics CheatSheet
<img src="../sample_files/logos/pandas.svg" width="400" />
The Pandas library is built  on NumPy and provieds easy-to-use data structures and data analysis tools for Python

## Asking for help

In [2]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair
    DataFrame.iloc : Access group of rows and columns by integer position(s)
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Raises
    ------
    KeyError:
        when any items are not found

In [1]:
import pandas as pd

## Pandas Data Structure

### Series
A one-dimensional labeled array capable of holding any data type.

<img src="../sample_files/images/pandas_series.png" width="100" />

In [2]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

### DataFrame
A two-dimensional labeled data structure with columns of potentially different types.

<img src="../sample_files/images/pandas_dataframe.png" width="200" />

In [3]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,
                  columns=['Country', 'Capital', 'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

## Selection

### Getting

In [10]:
ans = s['b']   # Get one element
print("s['b'] = {}".format(ans))
ans = df[1:]   # Get subset of a DataFrame
print("df[1:] = \n{}".format(ans))

s['b'] = -5
df[1:] =
  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

### Selecting, Boolean Indexing & Setting

In [32]:
# By Position
ans = df.iloc[[0],[0]]         # Select single value by row & coloumn
print("df.iloc[[0],[0]] = \n{}\n".format(ans))
ans = df.iat[0, 0]
print("df.iat[0, 0] = \n{}\n".format(ans))

# By Label
ans = df.loc[[0], ['Country']] # Select single value by row & column label
print("df.loc[[0], ['Country']] = \n{}\n".format(ans))
ans = df.at[0, 'Country']
print("df.at[0, 'Country'] = \n{}\n".format(ans))

# By Label/Position
ans = df.ix[2]                 # Select single row of subset of rows
print("df.ix[2]  = \n{}\n".format(ans))
ans = df.ix[:,'Capital']       # Select a single column of subset of columns
print("df.ix[:,'Capital'] = \n{}\n".format(ans))
ans = df.ix[1,'Capital']       # Select rows and columns
print("df.ix[1,'Capital'] = \n{}\n".format(ans))


# Boolean Indexing
ans = s[~(s > 1)]              # Series s where value is not >1
print("s[~(s > 1)] = \n{}\n".format(ans))
ans = s[(s < -1) | (s > 2)]    # s where value is <-1 or >2
print("s[(s < -1) | (s > 2)] = \n{}\n".format(ans))
ans = df[df['Population']>1200000000] # Use filter to adjust DataFrame
print("df[df['Population']>1200000000] = \n{}\n".format(ans))

# Setting
s['a'] = 6               # Set index a of Series s to 6

df.iloc[[0],[0]] =
   Country
0  Belgium

df.iat[0, 0] =
Belgium

df.loc[[0], ['Country']] =
   Country
0  Belgium

df.at[0, 'Country'] =
Belgium

df.ix[2]  =
Country          Brazil
Capital        Brasília
Population    207847528
Name: 2, dtype: object

df.ix[:,'Capital'] =
0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

df.ix[1,'Capital'] =
New Delhi

s[~(s > 1)] =
b   -5
dtype: int64

s[(s < -1) | (s > 2)] =
a    6
b   -5
c    7
d    4
dtype: int64

df[df['Population']>1200000000] =
  Country    Capital  Population
1   India  New Delhi  1303171035

/home/zas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/home/zas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()
/home/zas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

## Dropping

In [45]:
print("s =\n{} \ndf =\n{}\n".format(s, df))
ans = s.drop(['a', 'c'])         # Drop values from rows (axis=0)
print("s.drop(['a', 'c']) = \n{}\n".format(ans))
ans = df.drop('Country', axis=1) # Drop values from columns(axis=1)
print("df.drop('Country', axis=1) = {}".format(ans))

s =
a    6
b   -5
c    7
d    4
dtype: int64
df =
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

s.drop(['a', 'c']) =
b   -5
d    4
dtype: int64

df.drop('Country', axis=1) =      Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasília   207847528

## Sort & Rank

In [44]:
ans = df.sort_index()              # Sort by labels along an axis
print("df.sort_index() =\n{}\n".format(ans))
ans = df.sort_values(by='Country') # Sort by the values along an axis
print("df.sort_values(by='Country') =\n{}\n".format(ans))
ans = df.rank()                    # Assign ranks to entries
print("df.rank() =\n{}\n".format(ans))

df.sort_index() =
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

df.sort_values(by='Country') =
   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035

df.rank() =
   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

## Retrieving Series / DataFrame Information

### Basic Information

In [48]:
ans = df.shape   # (rows,columns)
print("df.shape = {}\n".format(ans))
ans = df.index   # Describe index
print("df.index =  {}\n".format(ans))
ans = df.columns # Describe DataFrame columns
print("df.columns = \n{}\n".format(ans))
ans = df.info()  # Info on DataFrame
print("df.info() = {}\n".format(ans))
ans = df.count() # Number of non-NA values
print("df.count() = \n{}".format(ans))

df.shape = (3, 3)

df.index =  RangeIndex(start=0, stop=3, step=1)

df.columns =
Index(['Country', 'Capital', 'Population'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes
df.info() = None

df.count() =
Country       3
Capital       3
Population    3
dtype: int64

### Summary

In [55]:
ans = df.sum()                # Sum of values
print("df.sum() = \n{}\n".format(ans))
ans = df.cumsum()             # Cummulative sum of values
print("df.cumsum() = \n{}\n".format(ans))
ans = df.ix[:,'Population'].min()/df.ix[:,'Population'].max()       # Minimum/maximum values
print("df.min()/df.max() = {}\n".format(ans))
ans = df.idxmin()/df.idxmax() # Minimum/Maximum index value
print("df.idxmin()/df.idxmax() = {}\n".format(ans))
ans = df.describe()           # Summary statistics
print("df.describe() = {}\n".format(ans))
ans = df.mean()               # Mean of values
print("df.mean() = {}\n".format(ans))
ans = df.median()             # Median of values
print("df.median() = {}\n".format(ans))

df.sum() =
Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object

df.cumsum() =
              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409

df.min()/df.max() = 0.008587396204673933

/home/zas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

TypeError: reduction operation 'argmin' not allowed for this dtype

## Applying Functions

In [57]:
print("df = \n{}\n".format(df))
f = lambda x: x*2
ans = df.apply(f)     # Apply function
print("df.apply(f) = \n{}\n".format(ans))
ans = df.applymap(f)  # Apply function element-wise
print("df.applymap(f) = \n{}\n".format(ans))

df =
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

df.apply(f) =
          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

df.applymap(f) =
          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

## Data Alignment

### Internal Data Alignment
NA values are introduced in the indices that don’t overlap:

In [58]:
s3 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
s + s3

a    13.0
b     NaN
c     5.0
d     7.0
dtype: float64

### Arithmetic Operation with Fill Methods
You can also do the internal data alignment yourself with the help of the fill methods:

In [64]:
print("s = \n{}\n".format(s))
print("s3 = \n{}\n".format(s3))

ans = s.add(s3, fill_value=0)
print("s.add(s3, fill_value=0) = \n{}\n".format(ans))
ans = s.sub(s3, fill_value=2)
print("s.sub(s3, fill_value=2) = \n{}\n".format(ans))
ans = s.div(s3, fill_value=4)
print("s.div(s3, fill_value=4) = \n{}\n".format(ans))
ans = s.mul(s3, fill_value=3)
print("s.mul(s3, fill_value=3) = \n{}\n".format(ans))

s =
a    6
b   -5
c    7
d    4
dtype: int64

s3 =
a    7
c   -2
d    3
dtype: int64

s.add(s3, fill_value=0) =
a    13.0
b    -5.0
c     5.0
d     7.0
dtype: float64

s.sub(s3, fill_value=2) =
a   -1.0
b   -7.0
c    9.0
d    1.0
dtype: float64

s.div(s3, fill_value=4) =
a    0.857143
b   -1.250000
c   -3.500000
d    1.333333
dtype: float64

s.mul(s3, fill_value=3) =
a    42.0
b   -15.0
c   -14.0
d    12.0
dtype: float64

## I/O

### Read and Write CSV

In [81]:
df = pd.read_csv('../sample_files/data/titanic_headerless.csv', header=None, nrows=5)
print("titanic_headerless.csv = \n{}\n".format(df))
df.to_csv('../sample_files/data/titanic_headerless_5row.csv')

df = pd.read_csv('../sample_files/data/titanic.csv', header='infer', nrows=10)
print("titanic.csv = \n{}\n".format(df))
df.to_csv('../sample_files/data/titanic_10row.csv')

titanic_headerless.csv =
   0     1       2      3   4   5
0  1   1st    Male  Child  No   0
1  2   2nd    Male  Child  No   0
2  3   3rd    Male  Child  No  35
3  4  Crew    Male  Child  No   0
4  5   1st  Female  Child  No   0

titanic.csv =
   Number Class     Sex    Age Survived  Freq
0       1   1st    Male  Child       No     0
1       2   2nd    Male  Child       No     0
2       3   3rd    Male  Child       No    35
3       4  Crew    Male  Child       No     0
4       5   1st  Female  Child       No     0
5       6   2nd  Female  Child       No     0
6       7   3rd  Female  Child       No    17
7       8  Crew  Female  Child       No     0
8       9   1st    Male  Adult       No   118
9      10   2nd    Male  Adult       No   154

### Read and Write to Excel

In [85]:
xlsx = pd.read_excel('../sample_files/data/urbanpop.xlsx', nrows=10)
print("urbanpop.xlsx = \n{}\n".format(xlsx))

#writer = pd.ExcelWriter('./sample_files/data/urbanpop_write.xlsx')
#xlsx.to_excel(writer, sheet_name='urbanpop_sheet')
xlsx.to_excel('../sample_files/data/urbanpop_write.xlsx', sheet_name='urbanpop_sheet')

# Read multiple sheets from the same file
xlsx = pd.ExcelFile('../sample_files/data/urbanpop_write.xlsx')
df = pd.read_excel(xlsx, 'urbanpop_sheet')
print("urbanpop_write.xlsx = \n{}\n".format(xlsx))
print("urbanpop_write.xlsx|urbanpop_sheet = \n{}\n".format(df))

urbanpop.xlsx =
               country        1960          1961          1962          1963  \
0          Afghanistan    769308.0  8.149230e+05  8.585217e+05  9.039139e+05
1              Albania    494443.0  5.118028e+05  5.294389e+05  5.473767e+05
2              Algeria   3293999.0  3.515148e+06  3.739963e+06  3.973289e+06
3       American Samoa         NaN  1.366030e+04  1.416580e+04  1.475893e+04
4              Andorra         NaN  8.723921e+03  9.700346e+03  1.074838e+04
5               Angola    521205.0  5.482650e+05  5.796954e+05  6.120867e+05
6  Antigua and Barbuda     21699.0  2.163505e+04  2.166420e+04  2.174074e+04
7            Argentina  15224096.0  1.554522e+07  1.591212e+07  1.628235e+07
8              Armenia    957974.0  1.008597e+06  1.061426e+06  1.115612e+06
9                Aruba     24996.0  2.813976e+04  2.853273e+04  2.876312e+04

           1964          1965          1966
0  9.512259e+05  1.000582e+06  1.058743e+06
1  5.655718e+05  5.839829e+05  6.025122e+05
2  4.220987e+06  4.488176e+06  4.649105e+06
3  1.539642e+04  1.604482e+04  1.669311e+04
4  1.186586e+04  1.305275e+04  1.421681e+04
5  6.452616e+05  6.791091e+05  7.178334e+05
6  2.183018e+04  2.190889e+04  2.200313e+04
7  1.665441e+07  1.702771e+07  1.738981e+07
8  1.170683e+06  1.226270e+06  1.281582e+06
9  2.892339e+04  2.908253e+04  2.925223e+04

urbanpop.xlsx =
<pandas.io.excel.ExcelFile object at 0x7f1019a3ad68>

urbanpop.xlsx|urbanpop_sheet =
               country        1960          1961          1962          1963  \
0          Afghanistan    769308.0  8.149230e+05  8.585217e+05  9.039139e+05
1              Albania    494443.0  5.118028e+05  5.294389e+05  5.473767e+05
2              Algeria   3293999.0  3.515148e+06  3.739963e+06  3.973289e+06
3       American Samoa         NaN  1.366030e+04  1.416580e+04  1.475893e+04
4              Andorra         NaN  8.723921e+03  9.700346e+03  1.074838e+04
5               Angola    521205.0  5.482650e+05  5.796954e+05  6.120867e+05
6  Antigua and Barbuda     21699.0  2.163505e+04  2.166420e+04  2.174074e+04
7            Argentina  15224096.0  1.554522e+07  1.591212e+07  1.628235e+07
8              Armenia    957974.0  1.008597e+06  1.061426e+06  1.115612e+06
9                Aruba     24996.0  2.813976e+04  2.853273e+04  2.876312e+04

           1964          1965          1966
0  9.512259e+05  1.000582e+06  1.058743e+06
1  5.655718e+05  5.839829e+05  6.025122e+05
2  4.220987e+06  4.488176e+06  4.649105e+06
3  1.539642e+04  1.604482e+04  1.669311e+04
4  1.186586e+04  1.305275e+04  1.421681e+04
5  6.452616e+05  6.791091e+05  7.178334e+05
6  2.183018e+04  2.190889e+04  2.200313e+04
7  1.665441e+07  1.702771e+07  1.738981e+07
8  1.170683e+06  1.226270e+06  1.281582e+06
9  2.892339e+04  2.908253e+04  2.925223e+04

### Read and Write to SQL Query or Database Table

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)

read_sql()is a convenience wrapper around read_sql_table() and read_sql_query()

In [ ]:
pd.to_sql('myDf', engine)